.sidebar_one{
  /*background-color: red;*/
  flex: 1.5;
  height: 87vh;
  border: 1px solid black;
  min-width: 0;
  overflow: hidden;
  min-width: 0px;
  display:flex;
  flex-direction: column;
}
.sidebar_one a:link,a:visited{
  border-bottom: 2px solid green;
  padding-top: 2vh ;
  padding-bottom: 2vh ;
  height: 3vh;
  font-size: 1.5vw;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: left;
}
.sidebar_one a:hover{
  background-color: green;
  color: white;
}
.mainbar{
  /*background-color: greenyellow;*/
  display: flex;
  flex-direction: column;
  flex: 9;
  height: 87vh;
  border: 1px solid black;
  min-width: 0px;
 
}
.sidebar_two{
  /*background-color: brown;*/
  flex: 1.5;
  height: 87vh;
  border: 1px solid black;
  min-width: 0;
  overflow: hidden;
  /*flex-wrap: wrap;*/
}
.collapse{
  flex-grow: 0.001;
}
.main_top_row{
  flex: 2;
  display:flex;
  flex-direction: row;
  border: 1px solid black;
}
.main_mid_row{
  flex: 9;
  border: 1px solid black;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  /*justify-content: center;
  align-items: center;*/
}
.cards{
  display: flex;
}
.main_bottom_row{
  flex: 1;
  border: 1px solid black;
}
.user_profile{
  flex:auto;
  border: 1px solid black;
}
.welcome_name{
  flex: auto;
  border: 1px solid black;
}
.card1-cover{
  border: 1px dotted red;
  display: flex;
}
#card1,#card1 tr,td,th{
  border: solid 1px red;
}
