.upper-container{
  height:7vh;
  background-color: green;
  color: white;
  /*text-align: center;*/
  padding: 1.2vh;
  text-underline-offset: 0.9vh;
  font-size: 5vh;
  font-family: Arial;
  border-radius: 1vh;
  display: flex;
}
.menu-icon{
  text-align: left;
  padding-left: 0;
  flex: 4;
  /*visibility: hidden;*/
}
#menu-click-icon{
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  display: inline-block;
}
#menu-click-icon:hover{
  border-radius: 10%;
  background-color: white;
  color: green;
  min-width: 0px;
  /*visibility: hidden;*/
}
.logout-icon{
  flex: 4;
  border-radius: 10%;
  /*display:flex;
  align-items: center;
  justify-content: center;*/
  min-height: 0px;
  /*right: 5vw;*/
  /*visibility: hidden;*/
}
#logout-menu{
  display: none;
  font-size: 3vh !important;
  color: black !important;
}
.hover{
  background-color: white;
  display:block;
}
/*#logout-hover-menu:hover #logout-menu{
  background-color: white;
  display:block;
}*/
/*#logout-hover-menu:hover{
  background-color: white;
}*/
#logout-hover-menu{
  padding-right: 0px;
  
  display: inline-block;
  position: relative;
  z-index:5;
}

.title{
  text-align: center;
  flex: 4;
}
.login{
  padding: 5vh;
  background-color: bisque;
  /*width:70vh;
  height: 30vh;*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.container{
  height:88vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  
}
#login-email, #login-pwd{
  height: 4vh;
  width :41.4vh;
  font-size: 2.2vh;
}
tr{
  height:5vh;
  border: 1px solid red;
  
}
div:empty{
  display: none;
}
#login-s1{
  height: 4vh;
  width: 35vh;
  font-size: 2vh;
}
::placeholder{
  font-size: 2.2vh;
}
.login-left{
  float:left;
  font-size: 2vh;
}
.login-right{
  float:right;
  font-size: 2vh;
}
#login-app{
  font-size: 2.2vh;
  text-align: center;
  
}
.login-submit-btn{
	text-align:center;
}
table{
	
	
}